In [0]:
print('Bismillahir Rahmanir Rahim')

Bismillahir Rahmanir Rahim

In [0]:
for i in range(5):
    x=i*10;
    print(x)

0
10
20
30
40

In [0]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [0]:
import math
math.factorial(16)

20922789888000

In [0]:
//Library system use 
from math import factorial
n=5
k=3
factorial(n)/(factorial(k)*factorial(n-k))

10.0

In [0]:
from math import factorial as fac
n=5
k=3
fac(n)/fac(k)*fac(n-k)

40.0

In [0]:
from math import factorial
n=5
k=3
fac(n)//fac(k)*fac(n-k)

40

In [0]:
bool("")
bool(0)

False

In [0]:
adrita=20
adrita==20
adrita==30

False

In [0]:
c=5
while c != 0:
    print(c)
    c -= 1

5
4
3
2
1

In [0]:
s="Adrita"
s[4]
type(s[4])

str

In [0]:
help(str)

In [0]:
#String slice
x="Adrita Zahin"
print(x[2:5])
#negative slice
print(x[-5:-2])
#String Length
print(len(x))
#Strip
print(x.strip())
#lower 
print(x.lower())
#Upper
print(x.upper())
#check
txt=("He is a good man")
x="good" in txt
print(x)

rit
Zah
12
Adrita Zahin
adrita zahin
ADRITA ZAHIN
True

In [0]:
#Byte process
norsk='My company name is Thrust Robotics School'
data=norsk.encode('utf8')
data

b'My company name is Thrust Robotics School'

In [0]:
#LIst
a=["Apple","Banana","Cat","Adrita","Mohoshi","Momen","Rizvi"]
print(a[1])
print(a[2:4])
#append
a.append("Horse")
print(a)
#Reverse
a.reverse()
print(a)
#Sorting default acendening
a.sort()
print(a)
#Pop method
a.pop(2)
print(a)
#Extend
x=["Nayeem","Shibli","Kalpoma"]
a.extend(x)
print(a)
#Count
num=a.count("Momen")
print(num)

Banana
['Cat', 'Adrita']
['Apple', 'Banana', 'Cat', 'Adrita', 'Mohoshi', 'Momen', 'Rizvi', 'Horse']
['Horse', 'Rizvi', 'Momen', 'Mohoshi', 'Adrita', 'Cat', 'Banana', 'Apple']
['Adrita', 'Apple', 'Banana', 'Cat', 'Horse', 'Mohoshi', 'Momen', 'Rizvi']
['Adrita', 'Apple', 'Cat', 'Horse', 'Mohoshi', 'Momen', 'Rizvi']
['Adrita', 'Apple', 'Cat', 'Horse', 'Mohoshi', 'Momen', 'Rizvi', 'Nayeem', 'Shibli', 'Kalpoma']
1

In [0]:
#Dictionary
car={"Brand":"BMW",
     "Model":"Mustang",
     "Year":1996,
     "Country":"Bangladesh"}
#cOPY
x=car.copy()
print(x)
#Fromkey
x=("Key1","key2","key3")
y=0
thisdic=dict.fromkeys(x,y)
print(thisdic)
#Get method
x=car.get("Model")
print(x)
#Pop
car.pop("Model")
print()
#Items
x=car.items()
print(x)
#PopItem
car.popitem()
print(car)
#Update
car.update({"color":"White"})
print(car)
#Value
x=car.values()
print(x)

{'Brand': 'BMW', 'Model': 'Mustang', 'Year': 1996, 'Country': 'Bangladesh'}
{'Key1': 0, 'key2': 0, 'key3': 0}
Mustang

dict_items([('Brand', 'BMW'), ('Year', 1996), ('Country', 'Bangladesh')])
{'Brand': 'BMW', 'Year': 1996}
{'Brand': 'BMW', 'Year': 1996, 'color': 'White'}
dict_values(['BMW', 1996, 'White'])